<div
  class="container min-vh-100 d-flex flex-row align-items-center justify-content-center"
>
  <div class="card d-flex flex-column gap-2 w-75 mx-auto">
    <div class="card-body d-flex flex-column gap-2">
      <div class="d-flex flex-column pb-2">
        <h1 class="h2 fw-bold text-center">Iniciar sesión</h1>
        <h2 class="h5 fs-6 fw-light pb-4 text-center">Ingresa tus credenciales</h2>
      </div>
      <app-form-login></app-form-login>
      <div class="d-flex align-items-center justify-content-center">
        <a href="#" class="text-black small text-center fw-thin"
          >¿Olvidaste tu contraseña?</a
        >
      </div>
    </div>
  </div>
</div>
